@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<div class="jumbotron text-center"
        <h1>EcoCar</h1>
        <p>Faciliter l'optimisation des déplacements dans une optique éco-vertueuse et conviviale</p>
</div>

<!-- Add two containers (.container-fluid), and add a custom class to the second container (.bg-grey - adds a gray background color):
    -->
<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2>Préambule</h2>
                <p>En s’inscrivant sur le site EcoCar vous acceptez de respecter les règles de notre charte de 
valeurs. La présente charte a pour objet de formaliser les règles de sécurité relatives à 
l'utilisation de nos différents services.
                </p>
        </div>
        <div class="col-sm-4">
            <h2>Utilisation du service</h2>
                <p>
            <ul>
            <li>L’utilisation du site ne doit pas avoir de finalité commerciale.</li>
            <li>L’inscription à ce site n’est autorisée qu’aux personnes majeures. Dans le cas d’un 
covoiturage domicile/école ou lieu de formation pour un mineur c’est le 
responsable légal du mineur qui s’inscrit sur le site.</li>
            <li>Par ailleurs, l’utilisateur nous autorise à accéder aux informations enregistrées dans 
son profil, notamment pour résoudre certains problèmes techniques.</li>
            </ul>
        </p>
        </div>
    </div>
</div>

<div class="container-fluid bg-grey">
    <div class="col-sm-8">
        <h2>Responsabilité</h2>
        <p>
            Les utilisateurs du site, acceptent d’agir sous leur seule et entière responsabilité. 
On ne saurait, en aucun cas, être tenu pour responsable de tout dommage que 
pourrait subir une personne ou un colis du fait de l’utilisation du présent site, 
notamment en cas d’utilisation du site en violation de la présente charte, de
dommage survenant à l’occasion d’un voyage, de retard ou d’absence d’un 
conducteur ou d’un passager.
        </p>

    </div>


    <div class="col-sm-4">
        <h2>Sincérité</h2>
        <p>Toute personne désirant s’inscrire sur le présent site accepte de communiquer des 
informations exactes et exhaustives et de veiller à leur mise à jour régulière.</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2>Sécurité</h2>
                <p>Le conducteur s'engage à respecter le code de la route. Il garantit également que 
son permis de conduire est valide et que son véhicule est en parfait état d'usage et 
d'entretien, que les contrôles de sécurité sont effectués en conformité avec la 
réglementation, qu’il souscrit un contrat d’assurance pour le véhicule et que ce 
contrat couvre les passagers transportés. Dans l'hypothèse où le conducteur verrait 
sa situation modifiée, il s'engage à le déclarer immédiatement
                </p>
        </div>
        <div class="col-sm-4">
            <h2>Comportement des utilisateurs</h2>
                <p>Les utilisateurs de EcoCar acceptent de prendre toutes les mesures de sécurité qui 
s’imposent, de propreté et de respect des autres utilisateurs ainsi que de respecter 
l’ensemble des réglementations en vigueur. De manière générale, les utilisateurs 
se soumettent à une obligation de ponctualité, s’engagent à ne transporter aucune 
substance illicite ou dangereuse et à adopter en toute circonstance un comportement respectueux et responsable. Le passager s’engage particulièrement 
à :
<ul>
    <li>Respecter la propreté du véhicule dans lequel il est transporté.</li>
        <li>Ne pas gêner le conducteur durant le trajet.</li>
        <li>Être en état de sobriété.</li>
</ul>

        </p>
        </div>
    </div>
</div>

<div class="container-fluid bg-grey">
    <div class="col-sm-8">
        <h2>Respect des conditions générales d’utilisation</h2>
        <p>
            En plus de la présente charte, l’utilisation du site et la création d’un compte est 
conditionnée par l’acceptation des conditions générales d’utilisation et EcoCar ne 
pourra pas être tenu responsable des conséquences prises par la plateforme en cas 
de non-respect desdites conditions.
        </p>

    </div>


    <div class="col-sm-4">
        <h2>Sincérité</h2>
        <p>Toute personne désirant s’inscrire sur le présent site accepte de communiquer des 
informations exactes et exhaustives et de veiller à leur mise à jour régulière.</p>
    </div>
</div>





// =>mettre des containers.

EcoCars’adresse à toutesles personnes qui souhaitent optimiser leurs déplacements en réalisant 
des économies et préservant l’environnement.
Les objectifs s’articulent autour de quatre axes :
• Axe convivialité :
➢ Faire de nouvelles rencontres
➢ Tisser des liens personnels avec ses relations professionnelles ou ses voisins
➢ Investir réellement la sphère communautaire environnante
➢ Briser la monotonie des voyages
• Axe urbain :
➢ Réduire la circulation automobile en augmentant le taux de remplissage des voitures 
particulières et par conséquent de réduire significativement les embouteillages, le bruit, 
les accidents de la circulation et par conséquent contribuer à améliorer le confort de vie 
en ville
➢ Mieux rentabiliser les infrastructures routières et optimiser la gestion de la voirie et des 
parkings en zone urbaine et donc gagner en temps total alloué à se déplacer
➢ Fluidifier le trafic et réduire la durée des trajets effectués
• Axe écologique :
➢ Le transport est l’activité qui contribue le plus aux émissions de gaz à effet de serre (GES) 
de la France. Le parc français routier comprend 44,4 millions de véhicules dont 85 % de 
voitures particulières. En 2019, les voitures particulières (37,7 millions de véhicules) ont 
émis l’équivalent de 51 % des GES du secteur des transports et 16 % de l’ensemble des 
émissions nationales.
➢ Près de 6 Français sur 10 estiment qu'ils ont vraiment besoin de changer leurs habitudes 
de transport pour sauver la planète.
➢ L’évolution du transport de marchandises (+ 34 % de tonnes. Kilomètres sous pavillon 
français depuis 1990) est plus forte pour les VUL (+69 %) que pour les poids lourds. Les 
marchandises demeurent néanmoins majoritairement transportées par les poids lourds 
(80 % des tonnes. Kilomètres transportés, dont 57 % sous pavillon français).
• Axe économique :
➢ 57% des conducteurs qui prennent leur véhicule tous les jours ou presque, le font pour 
des trajets domicile-travail. Ces conducteurs, s’ils covoituraient régulièrement, 
pourraient économiser de 500 € à 2000 €/an.
7
➢ Les transports représentent 15% des dépenses des ménages, 2ème poste derrière le 
logement mais devant l’alimentation. Leur consommation totale et croît en moyenne de 
2,3 % par an depuis 2004
