@{
    Layout = "~/Views/Shared/IndexLayout.cshtml";
    ViewBag.Title = "EcoCar Accueil";
}
<!-- Add two containers (.container-fluid), and add a custom class to the second container (.bg-grey - adds a gray background color):
-->

<div class="row">
    <div class="col-sm-8">
        <div id="about" class="container-fluid" align="justify">
            <h2>A propos d'EcoCar</h2>

            <p>
                EcoCar vise à renforcer la solidarité et le maillage territorial en apportant une solution technique intuitive et pratique qui met en relation les usagers ayant un besoin de transport d’une part et ceux effectuant déjà ce trajet ou pouvant l’effectuer d’autre part.
                L’objectif est de permettre aux particuliers de rendre ou de demander des services de transport aux autres membres de leur communauté via une plate-forme intéractive.
                Ces services de transport comportent :
                <ul>
                    <li> Le transport ponctuel ou régulier sur le modèle du covoiturage</li>
                    <li> Le transport ponctuel à la demande</li>
                    <li> Le transport de colis</li>
                    <li> La location de véhicule</li>
                </ul>
            </p>

            <button class="btn btn-success btn-lg" onclick="location.href='/Home/EcoCarValues'">Découvrir EcoCar</button>
        </div>
    </div>
    <div class="col-sm-4">
        <video class="verticalcenter" src="/Video/EcoCarPub.mp4" style="width:100%" typeof="video/mp4" controls autoplay muted loop preload="auto" slideanim></video>
    </div>

</div>


<!--Carousel-->
<div class="container-fluid bg-grey">
    <center><h2>Ce que nos membres disent de nous</h2></center>
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <center><span class="glyphicon glyphicon-tree-deciduous logo-small"></span></center>
                <h4>"Simple, clair, efficace"<br><span style="font-style:normal;">Michael Roe, EcoForest</span></h4>
                 
            </div>
            <div class="item">
                <center><span class="glyphicon glyphicon-tree-conifer logo-small"></span></center>
                <h4>"J'étais sceptique, maintenant, c'est ma référence pour mes trajets"<br><span style="font-style:normal;">Farla Doe, EcoTree</span></h4>
            
            </div>
            <div class="item">
                <center><span class="glyphicon glyphicon-leaf logo-small"></span></center>
                <h4>"Efficace et agréable"<br><span style="font-style:normal;">Aristate Rom, EcoLeaf</span></h4>
                
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!--Pricing container-->
<div id="pricing" class="container-fluid">
    <div class="text-center">
        <h2>Remplissez votre EcoWallet</h2>
        <h4>Choisissez le mode de financement le plus adapté à vos besoins</h4>
    </div>
    <div class="row slideanim">
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Abonnement</h1>
                </div>
                <div class="panel-body">
                    <p><img src="~/Images/EcoCarBig.png" style="width:39%"></p>
                </div>
                <div class="panel-footer">
                    <h4>3 options d'abonnement</h4>
                    <button onclick="    location.href = '/Financial/EcoStore';" class="btn btn-lg">Consulter EcoStore</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>EcoStore</h1>
                </div>
                <div class="panel-body">
                    <p><img src="~/Images/EcoStore.png" style="width:30%"></p>
                </div>
                <div class="panel-footer">
                    <h4>   Votre EcoStore est disponible 24/24  </h4>
                    <button onclick="    location.href = '/Financial/EcoStore';" class="btn btn-lg">Consulter EcoStore</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>EcoCoins</h1>
                </div>
                <div class="panel-body">
                    <p><img src="~/Images/EcoCoin.png" style="width:30%"></p>
                </div>
                <div class="panel-footer">
                    <h4>3 options de lot d'EcoCoins</h4>
                    <button onclick="    location.href = '/Financial/EcoStore';" class="btn btn-lg">Consulter EcoStore</button>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Image of location/map -->
<img src="~/Images/EcoCart.png" style="width:100%">