@{
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
    ViewBag.Title = "Boîte de messagerie";
}

<div class="container-fluid bg-grey">
    @*Service List Display*@
    <div class="table-responsive">
        <table class="table" id="adminInboxTable">
            <thead>

                <tr class="header">
                    <th>EcoMembre</th>
                    <th>Type de Message</th>
                    <th>Contenu du message</th>
                    <th>Répondre</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


