<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h1>ECOCAR 404</h1>
    <h1>La page que vous essayez de visiter n'existe pas</h1>
</body>
</html>

