@*<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>*@

@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "EcoCar Service non trouvé";
 }

<body>
    <h1>Aucun service ne correspond à votre recherche actuellement</h1>
    <h3> Poster une demande</h3>
    <h3> <a href="EcoCar/Views/Shared/SearchService">Modifier les critères de recherche</a></h3>
    <a href = "https://projet-isika.com/" target="blank"> Lien vers ISIKA </a> 
</body>

