@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Mon Panier";
}


<div class="landscape">
    <center><img src="~/Images/EcoCart.png"></center>
</div>
<div class="container px-3 my-5 clearfix">
    <!-- Shopping cart table -->

    <div class="card">

        <div class="card-header">
            <h2>Mon EcoCart</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered m-0">
                    <thead>
                        <tr>
                            <!-- Set columns width -->
                            <th class="text-center py-3 px-4" style="width: 200px;">Prestation ou EcoAchat</th>
                            <th class="text-right py-3 px-4" style="width: 200px;">Prix en EcoCoins</th>
                            <th class="text-right py-3 px-4" style="width: 200px;">Prix en Euros</th>
                            <th class="text-right py-3 px-4" style="width: 200px;">Total</th>
                            <th class="text-center py-3 px-4" style="width: 200px;">Vider mon panier</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="p-4">
                                <div class="media align-items-center">
                                    <img src="" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                                    <div class="media-body">
                                        <a href="#" class="d-block text-dark">Product 1</a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-right font-weight-semibold align-middle p-4">$57.55</td>
                            <td class="text-right font-weight-semibold align-middle p-4">$115.1</td>
                            <td class="text-right font-weight-semibold align-middle p-4">$115.1</td>
                            <td class="text-center font-weight-semibold align-middle p-4"><a href="#">Supprimer</a></td>
                        </tr>

                        <tr>
                            <td class="p-4">
                                <div class="media align-items-center">
                                    <img src="" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                                    <div class="media-body">
                                        <a href="#" class="d-block text-dark">Product 2</a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-right font-weight-semibold align-middle p-4">$1049.00</td>
                            <td class="text-right font-weight-semibold align-middle p-4">$115.1</td>
                            <td class="text-right font-weight-semibold align-middle p-4">$1049.00</td>
                            <td class="text-center font-weight-semibold align-middle p-4"><a href="#">Supprimer</a></td>
                        </tr>

                        <tr>
                            <td class="p-4">
                                <div class="media align-items-center">
                                    <img src="" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                                    <div class="media-body">
                                        <a href="#" class="d-block text-dark">Product 3</a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-right font-weight-semibold align-middle p-4">$20.55</td>
                            <td class="text-right font-weight-semibold align-middle p-4">$115.1</td>
                            <td class="text-right font-weight-semibold align-middle p-4">$20.55</td>
                            <td class="text-center font-weight-semibold align-middle p-4"><a href="#">Supprimer</a></td>
                        </tr>

                    </tbody>
                </table>
            </div>


            <!-- / Shopping cart table -->
            <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
                <div class="d-flex">
                    <div class="text-right mt-4">
                        <label class="text-muted font-weight-normal m-0"><a href="/Financial/EcoStore/" target="_blank">EcoCoins dans votre EcoWallet: $1164.65</a></label><br />
                        <label class="text-muted font-weight-normal m-0">Prix Total à payer en EcoCoins: $1164.65</label>
                        <div class="float-right">
                            <button type="button" class="btn btn-lg btn-primary mt-2">Payer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="solid">