@using static EcoCar.Models.ServiceManagement.CarPoolingService

@model List<EcoCar.Models.ServiceManagement.CarPoolingService>
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Proposer une Prestation";
}
<!--Add a form with an input field and a button-->

<div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
        <div class="row">

            @*Profile picture Part with buttons*@
            <div class="col-md-4">
                <img alt="" style="width:100%;" class="img-circle img-thumbnail  isTooltip" src="~/Images/Covoit.png">
                 <button class="btn btn-primary center-block" type="submit">Réserver la prestation</button>
                 <button a.href="/Account/UserProfile" class="btn btn-primary center-block" type="submit">Consulter le profil de l'EcoMembre</button>
            </div>
            


            <div class="col-md-6">
                <div class="table-responsive">
                    @*Information*@
                    <span class="text-success"><strong>Information</strong><br></span>
                    <table class="table table-user-information">
                        <tbody>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-user  text-success"></span>
                                    Type de covoiturage
                                </td>
                                <td class="text-success">
                                    @foreach (var carPoolingService in Model)
                                    {
                                        <p>@carPoolingService.SelectCarPoolingType.</p>
                                    }
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-tree-deciduous text-success"></span>
                                    AvailableSeats
                                </td>
                                <td class="text-success">
                                    ***
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-tree-deciduous text-success"></span>
                                    DurationHours
                                </td>
                                <td class="text-success">
                                    ***
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-tree-deciduous text-success"></span>
                                    StopNumber
                                </td>
                                <td class="text-success">
                                    ***
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-tree-deciduous text-success"></span>
                                    StopAddresses
                                </td>
                                <td class="text-success">
                                    ***
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-tree-deciduous text-success"></span>
                                    StopsDurationMinutes
                                </td>
                                <td class="text-success">
                                    ***
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-tree-deciduous text-success"></span>
                                    PickUpAddress
                                </td>
                                <td class="text-success">
                                    ***
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-tree-deciduous text-success"></span>
                                    DeliveryAddress
                                </td>
                                <td class="text-success">
                                    ***
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-tree-deciduous text-success"></span>
                                    SelectTrajectoryType
                                </td>
                                <td class="text-success">
                                    ***
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    @*Preferences*@
                    <span class="text-success"><strong>Preferences</strong><br></span>
                    <table class="table table-user-information">
                        <tbody>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-user  text-success"></span>
                                    PetsAllowed
                                </td>
                                <td class="text-success">
                                    ***
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-tree-deciduous text-success"></span>
                                    SmokingAllowed
                                </td>
                                <td class="text-success">
                                    ***
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-tree-deciduous text-success"></span>
                                    MusicAllowed
                                </td>
                                <td class="text-success">
                                    ***
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-tree-deciduous text-success"></span>
                                    ChattingAllowed
                                </td>
                                <td class="text-success">
                                    ***
                                </td>
                            </tr>

                            
                        </tbody>
                    </table>



                </div>
            </div>
        </div>
    </div>
</div>


<hr class="solid">
<div id="services" class="container-fluid text-center">
    <h2>Mon historique de prestations</h2>
    <br>
</div>

<hr class="solid">