@using static EcoCar.Models.ServiceManagement.Service

@model List<EcoCar.Models.ServiceManagement.Service>
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Rechercher un service";
}
<!--Add a form with an input field and a button-->



<div class="container-fluid bg-grey">
    @*Service List Display*@
    <div class="table-responsive">
        <center><input style="width:50%" type="text" id="searchInput" onkeyup="myFunction()" placeholder="Rechercher une prestation..."></center><br />
        <table class="table" id="userTable">
            <thead>
                <tr class="header">
                    <th>Date de début</th>
                    <th>Type de service</th>
                    <th>Numéro de réference</th>
                    <th>Reserver</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var service in Model)
                {
                    <tr>
                    <tr>


                        <td>@service.Start</td>
                        <td>@service.SelectServiceType</td>
                        <td>@service.ReferenceNumber</td>
                        <td>
                            <a href="/Service/ReserveCarPoolingService/@service.Id"><span class="glyphicon glyphicon-transfer  text-success"></span></a>
                        </td>


                    </tr>

                }


            </tbody>
        </table>
    </div>
</div>

<hr class="solid">

<script>
    function myFunction() {
        var input, filter, table, tr, td, cell, i, j;
        filter = document.getElementById("searchInput").value.toLowerCase();
        table = document.getElementById("userTable");
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            tr[i].style.display = "none";
            const tdArray = tr[i].getElementsByTagName("td");
            for (var j = 0; j < tdArray.length; j++) {
                const cellValue = tdArray[j];
                if (cellValue && cellValue.innerHTML.toLowerCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    break;
                }
            }
        }
    }

</script>
