@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "EcoCar Accueil";
}
        <!--Add a form with an input field and a button-->
        <form class="form-inline">
            <div class="formHalf headForms  floatLeft inlineElements">
                <input type="text" class="form-control" size="10" placeholder="Départ" required>
                 <input type="text" class="form-control" size="10" placeholder="Destination" required>
                 <input type="date" class="form-control" size="10" placeholder="Quand?" required>
                 <button type="button" class="btn btn-success">Rechercher</button>

            </div>
        </form>
