@model List<EcoCar.Models.ServiceManagement.Service>
@*@model IEnumerable<CarPoolingService>*@
@*@model EcoCar.Models.ServiceManagement.Trajectory*@

@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "EcoCar Services";
}
@*        

<div> 
			<form action = "/service/SearchByDate" method="get">
				 <label for="Selection">Rechercher par date:</label>
				<input type="text" name="Selection" value="" onkeypress = "submit" placeholder="Date de début"/>
                <input type="text" name="Selection" value="" onkeypress = "submit"placeholder="Date de fin"/>
				 <button class="btn btn-primary btn-xl" type="submit">Valider</button>
			</form>
 </div>*@

@*<form class="form-inline"> 
            <div class="formHalf headForms  floatLeft inlineElements"> 
                <input type="text" class="form-control" size="10" placeholder="Départ" required> 
                 <input type="text" class="form-control" size="10" placeholder="Destination" required> 
                 <input type="date" class="form-control" size="10" placeholder="Quand?" required> 
                 <button type="button" class="btn btn-success">Rechercher</button> 
            </div> 
        </form>*@

 <fieldset>
    <legend> <h2>  Rechercher un service </h2> </legend>

<form action = "/service/SearchService" method="get">
    
                <label for="Selection">Rechercher par date:</label>
				<input type="date" name="StartingDate" value=""  placeholder="Date de début"/>
                <input type="date" name="EndingDate" value="" placeholder="Date de fin"/>
				<div id = "choix_typeService"><label> Rechercher par type de service : </label>
@*					<select name="selection" onChange = "submit()"> 
*@                     <select name="selection"> 
						<option value ="All">Tous</option> 
                        <option value ="CarPoolingService">Covoiturage</option>
                        <option value ="CarRentalService">Location de véhicule</option>
                        <option value ="ParcelService">Transport de colis</option>
					</select>
                 </div>

                 <button class="btn btn-primary btn-xl" type="submit">Valider</button>
        </form>
        

@foreach (var service in Model) 
{
<h2 style="text-align:center"> Provider's Name propose un(e) @service.SelectServiceType </h2>  @*Récupérer prénom du prestataire via IdServiceProvider de la classe service + forcer le nom du service => traduire en français*@

<div class="card">
    
  <img src="~/Images/Covoiturage.png" alt="Covoiturage" style="width:50%"> @*Image selon le type de service*@
  <h3> Du @service.Start</h3>
  <h3> Au @service.End</h3>
  <h5>Référence n°@service.ReferenceNumber</h5>
  <p class="price"> Tarif : 20 € </p>
  <p><button>Réserver</button></p>
    
</div> 
}


@if (Model.Count == 0){
     <h1>Dommage...Aucun service ne correspond à votre recherche actuellement.</h1>
    <h3> Poster une demande</h3>
    <h3> <a href="SearchService?selection=All">Modifier les critères de recherche</a></h3>
    
    
}

</fieldset>

<hr class="solid">
