@model EcoCar.ViewModels.AccountViewModel
@{
    Layout = "/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "CreateAccountStepOne";
}

<div class="jumbotron text-center">
    <h1>EcoCar</h1>
    <p>Faciliter l'optimisation des déplacements dans une optique éco-vertueuse et conviviale</p>
</div>

<section class="sign-in-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-4">
                            <div class="card-body p-md-5 mx-md-4">
                                <div class="text-center">
                                    <img src="~/Images/EcoCar.png"
                                         style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">Je crée mon compte EcoCar</h4>
                                </div>
                                @using (Html.BeginForm())
                    {
                        <div class="form-floating mb-3">
                            @Html.TextBoxFor(model => model.Account.Username, new { @class = "form-control", placeholder = "Alias" })
                            @Html.ValidationMessageFor(model => model.Account.Username)
                        </div>
                         <br>
                        <div class="form-floating mb-3">
                            @Html.TextBoxFor(model => model.Account.Password, new { @type = "password", @class = "form-control", placeholder = "Mot de passe" })
                            @Html.ValidationMessageFor(model => model.Account.Password)
                        </div>
                         <br>
                        <!-- Submit Button-->
                        <button class="btn btn-success btn-xl" type="submit">Créer</button>
                    }
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <center><img src=~/Images/CityEcoCar.png width="900" height="500" /></center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="rounded">
