@model EcoCar.ViewModels.PersonViewModel
@{
    Layout = "/Views/Shared/MainLayout.cshtml";
}
<section class="sign-in-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">
                                <div class="text-center">
                                    <img src="~/Images/EcoCar.png"
                                         style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">Je crée mon compte EcoCar</h4>
                                </div>

                                @using (Html.BeginForm())
                                {
                                    <div class="form-outline mb-4">
                                        @Html.TextBoxFor(model => model.Person.Name, new { @class = "form-control", placeholder = "Prenom" })
                                        @Html.ValidationMessageFor(model => model.Person.Name)
                                    </div>

                                    <div class="form-outline mb-4">
                                        @Html.TextBoxFor(model => model.Person.LastName, new { @class = "form-control", placeholder = "Nom" })
                                        @Html.ValidationMessageFor(model => model.Person.LastName)
                                    </div>
                                    <button class="btn btn-primary btn-xl" type="submit" onclick="location.href='CreateUse' ">Suivant</button>
                                }

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <img src=~/Images/CityEcoCar.png width="900" height="500" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr class="rounded">
