@model EcoCar.ViewModels.AccountViewModel
@{
    Layout = "/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "EcoStore";
}

<div class="jumbotron text-center">
    <h1>EcoCar</h1>
    <p>Faciliter l'optimisation des déplacements dans une optique éco-vertueuse et conviviale</p>
</div>

