@*@model EcoCar.Models.PersonManagement.Account*@
@model List<EcoCar.Models.PersonManagement.User>
@{
    Layout = "/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Mon profil";
}
<br>
<br>
<br>
<br>
<div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
        <div class="row">
            <div class="col-md-4">
                <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="https://bootdey.com/img/Content/avatar/avatar7.png" data-original-title="Usuario">
                <ul title="Ratings" class="list-inline ratings text-center">
                    @using (Html.BeginForm())
                    {
                        <li>
                            <span>
                                <br>

                            </span>
                        </li>
                    }
                </ul>
                <button class="btn btn-primary center-block" type="submit" onclick="location.href='/Messaging/UserReporting'">Signaler l'utilisateur</button>
                <br> <button class="btn btn-primary center-block" type="submit" onclick="location.href='/Messaging/Message'">Contacter l'utilisateur</button>
            </div>
            <div class="col-md-6">

                <strong>Information</strong><br>

                <div class="table-responsive">
                    
                  *@foreach (var user in Model)
                    {

                        <p>@user.Person.Name</p>
                        <p>@user.Person.Id</p>
                        <p>@user.BirthDate</p>
                    }
               
                    
                    <table class="table table-user-information">

                        <tbody>

                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-user  text-success"></span>
                                        Nom et prénom
                                    </strong>
                                </td>
                                <td class="text-success">
                                    ***
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-tree-deciduous text-success"></span>
                                        EcoStatus
                                    </strong>
                                </td>
                                <td class="text-success">
                                    ***
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-star text-success"></span>
                                        EcoRating
                                    </strong>
                                </td>
                                <td class="text-success">
                                    ***
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-ok text-success"></span>
                                        Email et numéro de téléphone vérifié
                                    </strong>
                                </td>
                                <td class="text-success">
                                    ***
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-calendar text-success"></span>
                                        EcoMembre depuis
                                    </strong>
                                </td>
                                <td class="text-success">
                                    ***
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="solid">

<div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
        <div class="row">
            <div class="col-md-6">

                <strong>Prestations en cours</strong><br>

                <div class="table-responsive">

                    <table class="table table-user-information">

                        <tbody>

                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-road  text-success"></span>
                                        Prestation #2565
                                    </strong>
                                </td>
                                <td class="text-success">
                                    ***
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <img alt="" style="width:700px;" title="" src="~/Images/Covoiturage.png" data-original-title="Usuario">
            </div>
        </div>
    </div>
</div>





<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>